div.user {
    height: 320px;
    background-color: var(--primary-purple);
    border-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.user > img {
    width: 80px;
    height: 80px;
    border: 4px solid white ;
    border-radius: 100%;
}

div.info * {
    font-weight: 300;
    line-height: 1.5;
}

div.info > p {
    color: var(--main-sub-text);
}

div.info > h1 {
    margin-bottom: 15px;
}

.header-card {
    width: 100%;
    height: 513px;
    background-color: var(--secondary-purple);
    border-radius: 12px;
}

.header-card li {
    list-style-type: none;
    margin: 32px;
    color: var(--main-inactive-text);
}