
<div class="container">
  <app-header 
    name="Jeremy Robson" 
    imgPath="../../assets/images/image-jeremy.png"
    (cardData) = "receiveData($event)"
    (timeframe) = "updateTimeframe($event)"
  />
  <div class="card-container">
    <app-card 
      *ngFor="let d of data; let i = index"
      [ngStyle]="
      {
        'background-color': colors[i],
        'background-image': icons[i],
        'background-repeat': 'no-repeat',
        'background-position': 'top right',
        'border-radius': '12px'
      }"
      [data]="data[i]"
      [timeframe]="timeframe"
    />
  </div>
</div>

